#Bucket_bunga .container .row .col{
    margin-top: 50px;
}

.collapse ul li .nav-link{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.collapse ul li .nav-link:hover{
    font-weight: 900;
    background-color: #f3c2d3;
    border-radius: 12px;
}

.container .col .card .card-body p.card-text{
    font-size: 10px;
}

.container .col .card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.tombol-pesan{
    margin-top: auto;
    display: flex;
    gap: 6px;
}

.tombol-pesan .btn{
    width: 100%;
    height: 40px;
    font-size: 12px;
    white-space: nowrap;
}